[Unit]
Description=Toxicity process comments
After=network.target

[Service]
Type=simple
User=rajat
WorkingDirectory=/home/rajat/repos/ex_ml
ExecStart=/data/anaconda3/envs/rajat/bin/python3 server/process_reddit_comments.py
Restart=always
# Other restart options: always, on-abort, etc

[Install]
WantedBy=multi-user.target

