[Unit]
Description=Toxicity Frontend
After=network.target

[Service]
Type=simple
User=rajat
WorkingDirectory=/home/rajat/repos/explanable-ml-frontend
ExecStart=/home/rajat/repos/explanable-ml-frontend/run.sh
Restart=always
# Other restart options: always, on-abort, etc

[Install]
WantedBy=multi-user.target
